aws_region        = "us-east-1"
project_name      = "nuthan-ai"
key_pair_name     = "my-aws-keypair"   # must already exist in your AWS account
db_name           = "notesdb"
db_username       = "notesuser"
db_password       = "changeme123!"     # pick a strong password
anthropic_api_key = "sk-ant-..."
google_client_id  = "xxxx.apps.googleusercontent.com"
google_android_client_id = "xxxx.apps.googleusercontent.com"
git_repo_url             = "https://<github-user>:<github-pat>@github.com/<org>/<repo>.git"
